# Database (Supabase)
DATABASE_URL=postgresql://postgres.Lov@4e8cb69b@db.hpigpwmcmabmavwnionz.supabase.co:5432/postgres

# Supabase JWT (Settings → API → JWT Secret)
SUPABASE_JWT_SECRET=sb_secret_mSzKtxMXkhCP-9WLJKL8Bg_VwuK123y
SUPABASE_JWT_ISSUER=https://hpigpwmcmabmavwnionz.supabase.co/auth/v1
SUPABASE_JWT_AUDIENCE=authenticated

# Cloudflare R2
CF_ACCOUNT_ID=81488dc64c0adf17637e3f2fcadf6e2a
R2_ACCESS_KEY_ID=6ad18939ab05f93e22fb18acf1876dd5
R2_SECRET_ACCESS_KEY=cc1b3d19a0f0829b12ff83655099caed7a74ed376daf7c910d0e1b0ea0467034
R2_BUCKET=reelo-videos
R2_PUBLIC_URL=https://pub-b15b93b2a9614ec49a49273e779acbcb.r2.dev

# Cloudflare Workers AI
CF_AI_API_TOKEN=cfut_R2wdrYe6TwZmsG0luOiVNIgqdHNOyqyEkzgcdVJ13923e2b7

# Redis (Upstash)
REDIS_URL=redis://default:********@relaxing-tahr-112944.upstash.io:6379

# Server
PORT=8080